{% extends 'base.html.twig' %}

{% block title %}FuriousCalculation - Partie{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>Partie 2</h1>

    <div class="your-clock"></div>

</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // http://flipclockjs.com/
            var clock = $('.your-clock').FlipClock(10, {
                clockFace: 'MinuteCounter',
                countdown: true,
                autoStart: true
                // callbacks: {
                //     start: function() {
                //         $('.message').html('The clock has started!');
                //     }
                // }
            });

        });
    </script>
{% endblock %}